.keyboard__field {
  display: block;
  width: 80%;
  font-family: 'Exo 2', sans-serif;
  margin: 0 auto;
}

.keyboard__keys {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.keyboard__key {
  height: 45px;
  width: 5%;
  margin: 3px;
  border-radius: 4px;
  border: none;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Exo 2', sans-serif;
}

.keyboard__key--medium {
  width: 8%;
  background: #a9a9a9;
  color: #ffffff;
}

.keyboard__key--wide {
  width: 12%;
  background: #a9a9a9;
  color: #ffffff;
}

.keyboard__key:active,
.keyboard__key--active,
.keyboard__capslock--active{
  background: red;
}

.keyboard__key--extra-wide {
  width: 35%;
}

.arrow {
  position: relative;
}

.arrow::before {
  position: absolute;
}

